.galaxy-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0 50px 0;

    font-family: "AggroBfont";
    font-size: 36px;
}

.galaxy-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.galaxy-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 30px 0 0 0;
    list-style-type: none;
}

.galaxy-box {
    background-color: #f0f0f0;
    width: 250px;
    height: 570px;
    margin: 0 10px 10px 0;
    padding: 10px;
    border-radius: 15px;
}

.galaxy-photo-box {
    background-color: #ffffff;
    width: 250px;
    height: 320px;
    margin: 0;
}

.galaxy-photo-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galaxy-text-box {
    background-color: #ffffff;
    width: 250px;
    height: 230px;
    margin: 20px 0 0 0;
    font-family: "AggroLfont";
}

.galaxy-color-box {
    display: flex;
    justify-content: left;
    padding: 10px 0 0 5px;
}

.galaxy-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #f0f0f0;
    margin: 0 0 0 5px;
}

.galaxy-name {
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding: 20px 0 0 10px;
}

.galaxy-pricebox {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.galaxy-span {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.galaxy-modelprice {
    font-size: 15px;
    font-weight: bold;
    color: black;
    padding: 15px 0 0 0;

    display: flex;
    justify-content: center;
    width: 100%;
}

.galaxy-sale {
    font-size: 14px;
    font-weight: bold;
    color: gray;
    padding: 10px 0 0  0;

    display: flex;
    justify-content: center;
    width: 100%;
}

.galaxy-saleprice {
    font-size: 16px;
    font-weight: bold;
    color: red;
    padding: 10px 0 0 0;

    display: flex;
    justify-content: center;
    width: 100%;
}

.galaxy-order-box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 30px;
    margin: 25px 0 0 80px;
    border-radius: 5px;
    border: 1px solid red;
}

.galaxy-order-text a {
    font-size: 16px;
    font-family: "AggroLfont";
    color: red;
    text-decoration: none;
}

.galaxy-order-text:hover {
    font-size: 16px;
    font-family: "AggroLfont";
    color: red;
    text-decoration: none;
}

.galaxy-order-text:visited {
    font-size: 16px;
    font-family: "AggroLfont";
    color: red;
    text-decoration: none;
}