.member-content {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.member-title {
    display: flex;
    justify-content: center;
    font-family: "AggroBfont";
    margin: 30px 0 30px 0;
}

.member-input {
    width: 450px;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ddd;
    font-family: "AggroBfont";
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #E93423;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-family: "AggroLfont";
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    height: 100%;
}

button:hover {
    background-color: #EA615B;
}