@font-face {
    font-family: "watch";
    src: url("./assets/fonts/SB_Aggro_B.ttf") format("truetype");
}

.watch-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0 50px 0;

    font-family: "watch";
    font-size: 36px;
}